.padre-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 1rem;
}

.sections-container {
    width: 100%;
    height: auto;
    background-color: var(--background);
}

.banner-container{
    width: 100%;
    height: auto;
    background-color: var(--background);
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.nav-container {
    position: sticky;
    top: 0px;
    z-index: 60;
}

.btn-menu{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--border);
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 0rem;
}


.line {
    width: 25px;
    display: block;
    position: absolute;
    height: 2px;
    border-radius: 1px;
    background-color: gray;
    transition: transform ease 300ms , display ease 300ms ;
}

.btn-menu :nth-child(1) {
  transform: translateY(-6px);
}

.btn-menu :nth-child(3) {
    transform: translateY(6px);
}

.open-menu.btn-menu :nth-child(1) {
    transform:  rotate(40deg);
 
}

.open-menu.btn-menu :nth-child(2) {
   display: none;
}

.open-menu.btn-menu :nth-child(3) {
    transform:  rotate(-40deg);
    
 
}