
.limit {
    position: relative;
    top: -30px;
    align-self: flex-end;
    margin-right: 10px;
}



.btn-crear-evento{
    width: 450px;
    height: 40px;
    border-radius: 6px;
    color: white;
    background-color: #333;
}

.form-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 50px;
    transition: width ease 0.8s;
    padding-bottom: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select,
  textarea {
    padding: 14px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    transition: border-color 0.2s ease;
  }

  .archivo{
    border: 1px solid;
    font-size: 1rem;
    border-radius: 24px;
    background-color: #fafafa;
    transition: border-color 0.2s ease;
   height: clamp(10vh,47vh,47vh) ;
   display: flex;
   justify-content: center;
   align-items: center;
 
  }

  input:focus,
  textarea:focus {
    border-color: #a0d8a4;
    outline: none;
  }

  textarea {
    resize: none;
    min-height: 140px;
  }

  .form-left, .form-right {
    flex: 1;
  }

  .submit-btn {
    width: 100%;
    margin-top: auto;
    padding: 16px;
    font-size: 1rem;
    background-color: #b7fec9;
    color: #111;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #a5eeb9;
  }



  @media (max-width: 900px) {
    .form-card {
      flex-direction: column;
    }
  }