.footer-container {
    width: 100%;
    background-color: #ffffff; /* Color de fondo oscuro */
    color: #000000; /* Texto blanco */
   padding-bottom: 20px;
    text-align: center;
}

.mobile-footer,
.normal-footer {
    border-top:2px solid #F4F4F5 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Estilos para los enlaces */
.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    display: inline-block;
}

.footer-links a {
    text-decoration: none;
    color: #bdbdbd; /* Color de los enlaces */
    font-family: var(--font);
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #256dda; /* Color al pasar el mouse */
}

/* Copia de derechos de autor */
.footer-copy {
    font-family: var(--font);
    font-size: 14px;
    opacity: 0.8;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 970px) {
    .footer-container {
        padding: 10px;
    }

    .footer-links ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-copy {
        font-size: 12px;
    }
}
